body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

ul>li {
    list-style-type: none;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

a {
    text-decoration: none;
}

.nav-list-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404BBF;
}

.nav-contacts{
    font-style: normal;
}

.nav-contacts-item {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-contacts-item:hover,
.nav-contacts-item:focus {
    color:#404BBF;
}